.header-navigation {
  margin-left: 7.9vw;
  margin-right: 9.4vw;
}

.header-navigation__items {
  display: flex;
  list-style: none;
  padding: 0;
}

.header-navigation__item {
  display: contents;
  white-space: nowrap;
}

.header-navigation__link {
  text-decoration: none;
  color: #384054;
  font-size: 20px;
  line-height: 26px;
  margin-right: 1.5vw;
  align-self: center;
}

.header-navigation__link:hover {
  opacity: 0.8;
}

.header-navigation__items li:last-child .header-navigation__link {
  margin-right: 0;
}

.header-navigation__burger {
  display: none;
  cursor: pointer;
}

.header-navigation__burger:hover {
  opacity: 0.8;
}

@media screen and (max-width:1100px) {
  .header-navigation {
    margin: 0;
  }

  .header-navigation__items {
    display: none;
  }

  .header-navigation__burger {
    display: block;
    border: none;
    background-color: white;
    padding: 0;
    background-image: url(../../images/burger.svg);
    width: 40px;
    height: 40px;
  }
}